</br>
<section>
    <h1>Register</h1>

    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
      <% msg.each do |m| %>
        <li><%= m %></li>
      <%end %>
      </div>
    <% end %>
    
    <%= form_for :user, url: '/users' do |f| %>
    
    <div class="user-form">
      <div>
        First Name: </br> 
        <%= f.text_field :first_name %>
      </div>
    </br>
      <div>
        Last Name: </br> 
        <%= f.text_field :last_name %>
      </div>
      </br>
      <div>
        Email: </br> 
        <%= f.text_field :email %>
      </div>
      </br>
      <div>
        Password: </br> 
        <%= f.password_field :password %>
      </div>
      </br>
      <div>
        Confirm Password: </br> 
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    </br>
    <%= f.submit "Submit", class: "btn btn-success" %> <% end %>
</section>